.cards-header-wrapper {
  .site-card-wrapper {
    padding-top: 1%;
  }
  .sky-blue-card {
    height: 150px;
    width: 350px;
    border-radius: 15px;
    background: #e3f5ff !important;
  }
  .light-grey-card {
    height: 150px;
    width: 350px;
    border-radius: 15px;
    background: #e5ecf6 !important;
  }
}
