.voiceCardContainer {
  padding: 5px 10px;
  margin: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .name {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
    line-height: 0;
    margin-bottom: 15px;
  }
}

.imageContainer {
  border-radius: 50%;
  overflow: hidden;
  width: 70px;
  height: 70px;
}

.bullet {
  background-color: #4c4fac;
  border-radius: 5px;
  padding: 5px 5px;

  p {
    font-weight: 700px;
    font-family: "Lato";
    font-size: 10px;
    color: white;
    line-height: 1;
  }
}
