.payment-methods-wrapper {
  margin: 1%;
  .card-height {
    height: 43vh;
  }
  .card-height {
    box-shadow: 1px 0px 2px 1px rgba(208, 216, 243, 0.6);
  }
  .mt-1 {
    margin-top: 1%;
    box-shadow: 1px 0px 2px 1px rgba(208, 216, 243, 0.6);
  }
}
